# STAT 207 Lab Assignment 2 - Individual Part - [25 total points]

## Dataframe Manipulation and Cleaning

Due: Tuesday, January 30, 11:59pm CST

<hr>

## <u>Case Study</u>: Steam Game Play and Purchase Analysis
Steam is the world's most popular PC Gaming hub. With a massive collection that includes everything from AAA blockbusters to small indie titles, great discovery tools can be super valuable for Steam. We would like to use the following dataset below to learn more about Steam player behavior.

The dataset we will be analyzing is comprised of a random sample of 400 steam users and their game play and purchase behaviors. It has the following columns:
* **user_id** of the player
* **game_name**,
* **activity**:
    - <u>purchase</u>: indicating that the user has *purchased* the corresponding game
    - <u>play</u>: indicating that the user has *played* the corresponding game (for at least some amount of time.) 
* **hours_played_if_play**:
    - if the row corresponds to a 'play' activity, this number represents the number of hours the user has played the game
    - if the row corresponds to a 'purchase' activity, this number is always a 1 (and means nothing... it's a placeholder).

<hr>


### <u>Research Goals</u>

In this analysis, we will consider a game's **"all-star" player** to be the person who had played this game for the most amount of hours. With this definition in mind, we will do the following in this assignment.

1. **Missing Value Cleaning**: Identify any implicit or explicit missing values in the dataset and drop any rows that have a missing value.
2. **Game Purchase vs. Play Behaviors**: What percent of games that were *bought* were actually *played* in this dataset?
3. **Top Game Buyer**: Learn more about the person who bought the most amount of games in this dataset. How many of these games did they actually play?
4. **"All Star Players"**: Who were the "all-star players" of the games? How long did they play this game?
5. **All Star Player Behavior**: What percent of games that these "all star players" bought did they actually play?



### <u>Points </u>
<p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;line-height:normal;"></p>
<table style="border: none;border-collapse: collapse;width:102pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;width:51pt;">Problem</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-left:none;width:51pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">6</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">6</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">7.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">7.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">8.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">8.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">8.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">8.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">9</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
    </tbody>
</table>
<p></p>

<hr>

### <u>STAT107 Review</u>
Part of this individual assignment will involve a review of STAT107 code that you have seen before including the following. Click on the links below if you need a refresher.

1. <a href="https://discovery.cs.illinois.edu/learn/Basics-of-Data-Science-with-Python/DataFrames-with-Conditionals/">Row Filtering</a>
2. <a href="https://discovery.cs.illinois.edu/guides/Modifying-DataFrames/dataframe-groupby/">The groupby() and reset_index() Functions</a>
2. <a href="https://discovery.cs.illinois.edu/guides/Modifying-DataFrames/sorting-a-dataframe-with-pandas/">The sort_values() Function</a>


### <u>Tutorial you Will Need</u>: Utilizing the *.shape* attribute

The **.shape** attribute for a given dataframe returns a **tuple** of two values, the first value in the tuple is the number of rows, the second value is the number of columns.

In [1]:
import pandas as pd
demo_df=pd.DataFrame({'a': [1,2,3], 'b': [4,5,6]})
demo_df

   a  b
0  1  4
1  2  5
2  3  6

We can index a tuple with 0 and 1 indices to extract the number of rows and columns from the dataframe separately.

In [2]:
#Number of rows and columns
demo_df.shape

(3, 2)

In [3]:
#Number of rows
demo_df.shape[0]

3

In [4]:
#Number of columns
demo_df.shape[1]

2

<hr>

### Imports

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. Read the csv
First, read the **steam_sample_400.csv** file into a dataframe and display the first five rows of the dataframe.

In [25]:
df = pd.read_csv('C:\\Users\\samma\\Documents\\stat207\\saraza2\\lab_02\\steam_sample_400.csv', na_values=['data missing', 'data not found'])
df.head()

     user_id    game_name  activity  hours_played_if_play
0  218323237       Dota 2  purchase                   1.0
1  218323237       Dota 2      play                  14.8
2  218323237  Tomb Raider  purchase                   1.0
3  218323237  Tomb Raider      play                   8.8
4  218323237         TERA  purchase                   1.0

### 2. How many rows does the dataframe have? (Use Python code to show this).

In [26]:
print(len(df))

6307

### 3. Data cleaning and data type checking

We plan to analyze the **"hours_played_if_play"** variable in this assignment. In order to ensure that our subsequent functions work appropriately on this numerical variable, you should do the following.
1. Identify any values (if any) that have been encoded in the csv to represent a **missing value**. 
2. Make sure that the values in your **"hours_played_if_play"** variable are represented as numerical values (either float64 or int64 object types). If not, fix this using the methods we discussed in class.
3. PERMANENTLY delete any rows in your dataframe that have missing values (both explicit or implict). Remember, some "missing values", in the way that they're currently encoded in the csv may not be initially detectable by Python. It is your job to figure out what these implicit missing values are and make it so Python does detect them. And then delete any rows that have them.

In [27]:
df.isna().sum()

user_id                 0
game_name               0
activity                0
hours_played_if_play    9
dtype: int64

In [28]:
df.dtypes

user_id                   int64
game_name                object
activity                 object
hours_played_if_play    float64
dtype: object

In [29]:
df['hours_played_if_play'].mean()

23.793966338520164

In [30]:
np.unique(df['hours_played_if_play'].values)

array([1.000e-01, 2.000e-01, 3.000e-01, 4.000e-01, 5.000e-01, 6.000e-01,
       7.000e-01, 8.000e-01, 9.000e-01, 1.000e+00, 1.100e+00, 1.200e+00,
       1.300e+00, 1.400e+00, 1.500e+00, 1.600e+00, 1.700e+00, 1.800e+00,
       1.900e+00, 2.000e+00, 2.100e+00, 2.200e+00, 2.300e+00, 2.400e+00,
       2.500e+00, 2.600e+00, 2.700e+00, 2.800e+00, 2.900e+00, 3.000e+00,
       3.100e+00, 3.200e+00, 3.300e+00, 3.400e+00, 3.500e+00, 3.600e+00,
       3.700e+00, 3.800e+00, 3.900e+00, 4.000e+00, 4.100e+00, 4.200e+00,
       4.300e+00, 4.400e+00, 4.500e+00, 4.600e+00, 4.700e+00, 4.800e+00,
       4.900e+00, 5.000e+00, 5.100e+00, 5.200e+00, 5.300e+00, 5.400e+00,
       5.500e+00, 5.600e+00, 5.700e+00, 5.800e+00, 5.900e+00, 6.000e+00,
       6.100e+00, 6.200e+00, 6.300e+00, 6.400e+00, 6.500e+00, 6.600e+00,
       6.700e+00, 6.800e+00, 6.900e+00, 7.000e+00, 7.100e+00, 7.200e+00,
       7.300e+00, 7.400e+00, 7.500e+00, 7.600e+00, 7.700e+00, 7.800e+00,
       7.900e+00, 8.000e+00, 8.100e+00, 8.200e+00, 8.300e+00, 8.400e+00,
       8.500e+00, 8.600e+00, 8.700e+00, 8.800e+00, 8.900e+00, 9.000e+00,
       9.100e+00, 9.200e+00, 9.300e+00, 9.400e+00, 9.500e+00, 9.600e+00,
       9.700e+00, 9.800e+00, 9.900e+00, 1.000e+01, 1.010e+01, 1.020e+01,
       1.030e+01, 1.040e+01, 1.050e+01, 1.060e+01, 1.070e+01, 1.080e+01,
       1.090e+01, 1.100e+01, 1.110e+01, 1.120e+01, 1.130e+01, 1.140e+01,
       1.160e+01, 1.170e+01, 1.180e+01, 1.190e+01, 1.200e+01, 1.210e+01,
       1.220e+01, 1.230e+01, 1.240e+01, 1.250e+01, 1.260e+01, 1.270e+01,
       1.280e+01, 1.290e+01, 1.300e+01, 1.310e+01, 1.320e+01, 1.330e+01,
       1.340e+01, 1.350e+01, 1.360e+01, 1.380e+01, 1.390e+01, 1.400e+01,
       1.410e+01, 1.420e+01, 1.430e+01, 1.440e+01, 1.450e+01, 1.460e+01,
       1.470e+01, 1.480e+01, 1.490e+01, 1.500e+01, 1.510e+01, 1.520e+01,
       1.550e+01, 1.560e+01, 1.580e+01, 1.590e+01, 1.610e+01, 1.620e+01,
       1.640e+01, 1.650e+01, 1.660e+01, 1.670e+01, 1.690e+01, 1.700e+01,
       1.710e+01, 1.720e+01, 1.730e+01, 1.740e+01, 1.750e+01, 1.770e+01,
       1.780e+01, 1.790e+01, 1.800e+01, 1.810e+01, 1.820e+01, 1.830e+01,
       1.840e+01, 1.850e+01, 1.860e+01, 1.870e+01, 1.890e+01, 1.900e+01,
       1.910e+01, 1.920e+01, 1.930e+01, 1.940e+01, 1.950e+01, 1.960e+01,
       2.000e+01, 2.100e+01, 2.200e+01, 2.300e+01, 2.400e+01, 2.500e+01,
       2.600e+01, 2.700e+01, 2.800e+01, 2.900e+01, 3.000e+01, 3.100e+01,
       3.200e+01, 3.300e+01, 3.400e+01, 3.500e+01, 3.600e+01, 3.700e+01,
       3.800e+01, 3.900e+01, 4.000e+01, 4.100e+01, 4.200e+01, 4.300e+01,
       4.400e+01, 4.500e+01, 4.600e+01, 4.700e+01, 4.800e+01, 4.900e+01,
       5.000e+01, 5.100e+01, 5.200e+01, 5.300e+01, 5.400e+01, 5.500e+01,
       5.600e+01, 5.700e+01, 5.800e+01, 6.000e+01, 6.100e+01, 6.200e+01,
       6.300e+01, 6.400e+01, 6.500e+01, 6.600e+01, 6.700e+01, 6.800e+01,
       6.900e+01, 7.000e+01, 7.100e+01, 7.200e+01, 7.300e+01, 7.500e+01,
       7.600e+01, 7.700e+01, 7.800e+01, 8.000e+01, 8.100e+01, 8.200e+01,
       8.300e+01, 8.400e+01, 8.500e+01, 8.600e+01, 8.700e+01, 8.800e+01,
       8.900e+01, 9.000e+01, 9.100e+01, 9.200e+01, 9.300e+01, 9.400e+01,
       9.600e+01, 9.700e+01, 9.800e+01, 9.900e+01, 1.010e+02, 1.020e+02,
       1.030e+02, 1.050e+02, 1.060e+02, 1.070e+02, 1.090e+02, 1.100e+02,
       1.110e+02, 1.120e+02, 1.140e+02, 1.160e+02, 1.170e+02, 1.190e+02,
       1.200e+02, 1.210e+02, 1.220e+02, 1.230e+02, 1.250e+02, 1.260e+02,
       1.270e+02, 1.280e+02, 1.310e+02, 1.320e+02, 1.330e+02, 1.340e+02,
       1.360e+02, 1.370e+02, 1.380e+02, 1.400e+02, 1.410e+02, 1.420e+02,
       1.450e+02, 1.460e+02, 1.480e+02, 1.490e+02, 1.510e+02, 1.520e+02,
       1.550e+02, 1.570e+02, 1.580e+02, 1.630e+02, 1.640e+02, 1.650e+02,
       1.660e+02, 1.670e+02, 1.700e+02, 1.720e+02, 1.740e+02, 1.760e+02,
       1.770e+02, 1.780e+02, 1.810e+02, 1.820e+02, 1.830e+02, 1.840e+02,
       1.850e+02, 1.920e+02, 1.930e+02, 1.950e+02, 1.980e+02, 2.000e+02,
       2.030e+02, 2.060e+02, 2.070e+02, 2.080e+02, 2.090e+02, 2.110e+02,
       2.140e+02, 2.180e+02, 2.190e+02, 2.220e+02, 2.260e+02, 2.300e+02,
       2.360e+02, 2.370e+02, 2.460e+02, 2.470e+02, 2.490e+02, 2.520e+02,
       2.530e+02, 2.540e+02, 2.550e+02, 2.570e+02, 2.610e+02, 2.620e+02,
       2.650e+02, 2.680e+02, 2.700e+02, 2.730e+02, 2.760e+02, 2.770e+02,
       2.790e+02, 2.800e+02, 2.900e+02, 2.950e+02, 2.960e+02, 2.990e+02,
       3.020e+02, 3.030e+02, 3.100e+02, 3.110e+02, 3.210e+02, 3.270e+02,
       3.290e+02, 3.320e+02, 3.360e+02, 3.370e+02, 3.430e+02, 3.610e+02,
       3.630e+02, 3.640e+02, 3.650e+02, 3.700e+02, 3.720e+02, 3.740e+02,
       3.990e+02, 4.090e+02, 4.150e+02, 4.180e+02, 4.200e+02, 4.250e+02,
       4.330e+02, 4.380e+02, 4.610e+02, 4.620e+02, 4.630e+02, 4.650e+02,
       4.670e+02, 4.720e+02, 4.740e+02, 4.790e+02, 5.060e+02, 5.100e+02,
       5.530e+02, 5.560e+02, 5.680e+02, 5.770e+02, 6.030e+02, 6.060e+02,
       6.260e+02, 6.480e+02, 6.490e+02, 6.640e+02, 7.110e+02, 7.160e+02,
       7.250e+02, 7.520e+02, 7.530e+02, 7.570e+02, 7.920e+02, 7.960e+02,
       8.430e+02, 8.670e+02, 9.940e+02, 1.009e+03, 1.015e+03, 1.024e+03,
       1.026e+03, 1.029e+03, 1.054e+03, 1.113e+03, 1.118e+03, 1.149e+03,
       1.195e+03, 1.231e+03, 1.243e+03, 1.250e+03, 1.298e+03, 1.319e+03,
       1.322e+03, 1.395e+03, 1.467e+03, 1.478e+03, 1.498e+03, 1.556e+03,
       1.784e+03, 1.862e+03, 1.906e+03, 2.060e+03, 2.117e+03, 2.442e+03,
       2.526e+03, 2.630e+03, 3.790e+03, 3.898e+03, 4.067e+03, 5.002e+03,
       5.608e+03,       nan])

In [31]:
df = df.dropna()
df.head()

     user_id    game_name  activity  hours_played_if_play
0  218323237       Dota 2  purchase                   1.0
1  218323237       Dota 2      play                  14.8
2  218323237  Tomb Raider  purchase                   1.0
3  218323237  Tomb Raider      play                   8.8
4  218323237         TERA  purchase                   1.0

In [32]:
len(df)

6298

In [33]:
df.isna().sum()

user_id                 0
game_name               0
activity                0
hours_played_if_play    0
dtype: int64

In [34]:
df.dtypes

user_id                   int64
game_name                object
activity                 object
hours_played_if_play    float64
dtype: object

### 4. Number of Dropped Rows 

How many rows with missing values did you delete from your original dataframe?

### 5. Separate the dataframes. 

Next, in this analysis we would like to analyze the game purchase information and game play information separately. First create two new dataframes:
* one that is comprised of the purchase rows
* the other that is comprised of the play rows.

In [35]:
df_purchase = df[df.activity == "purchase"]
df_purchase

,user_id,game_name,activity,hours_played_if_play
0,218323237,Dota 2,purchase,1.0
2,218323237,Tomb Raider,purchase,1.0
4,218323237,TERA,purchase,1.0
6,126340495,Dota 2,purchase,1.0
8,126340495,Counter-Strike Global Offensive,purchase,1.0
...,...,...,...,...
6299,190460990,Dota 2,purchase,1.0
6301,7519923,Counter-Strike,purchase,1.0
6303,7519923,Counter-Strike Condition Zero,purchase,1.0
6304,7519923,Counter-Strike Condition Zero Deleted Scenes,purchase,1.0
6305,103963922,Team Fortress 2,purchase,1.0

In [36]:
df_play = df[df.activity == "play"]
df_play

,user_id,game_name,activity,hours_played_if_play
1,218323237,Dota 2,play,14.8
3,218323237,Tomb Raider,play,8.8
5,218323237,TERA,play,0.9
7,126340495,Dota 2,play,1784.0
9,126340495,Counter-Strike Global Offensive,play,626.0
...,...,...,...,...
6296,73761548,Sid Meier's Civilization V,play,92.0
6298,138590829,Dota 2,play,1026.0
6300,190460990,Dota 2,play,1.5
6302,7519923,Counter-Strike,play,35.0
6306,103963922,Team Fortress 2,play,0.4

### 6. Percentage of Game Purchases that are Actually Played

What percentage of all total game purchases in this dataset are actually played by the player that purchased them?

*You can assume that a game and user id that has a 'play' row ALSO MUST have a 'purchase' row (but not the other way around).*

**For full credit, use automated Python code to find your answer. (Ie. don't put something like '30/50', where you found the 30 and 50 from the output of other code.)**

In [38]:
percentage = (len(df_play) / len(df_purchase)) * 100
percentage

58.08232931726908

### 7. Top Game Purchaser

Next, we'd like to learn more about the people who *purchase* the most amount of games.

#### 7.1. Most Amount of Games Purchased

What is the user id of the player who has purchased the most amount of games in this dataset, and how many games have they purchased?

In [48]:
df_group = df_purchase.groupby("user_id").agg("count").reset_index()
df_sorted = df_group.sort_values(by='game_name', ascending=False)
top_user = df_sorted.iloc[0]
top_user

user_id                 27279261
game_name                    185
activity                     185
hours_played_if_play         185
Name: 16, dtype: int64

#### 7.2. How many games has this user actually played?

What percentage of the purchased games did this player from 7.1 actually play?

In [49]:
top_user_play = df_play[df_play.user_id == 27279261]
percentage_top_user_played = (len(top_user_play) / top_user['game_name']) * 100
percentage_top_user_played

55.67567567567567

## 8. Examining Some Game "All-Star" Players

Next, we'd like to examine the play vs. purchase behavior of a few games' "all star players". We will consider a game's "all star player" to be the one who has played the game the longest in this dataset.

### 8.1. Each Game's Highest Play Time

In a single dataframe below, display the highest amount of time that each game was played.

For full credit, your final resulting dataframe should:
1. Be comprised of *two columns*
 * `game_name`
 * `hours_played_if_play`
2. And should have an index going from 0,1,2,... etc.

In [65]:
df_temp = df_play.groupby("game_name").agg("max").reset_index()
df_highest_time_played = df_temp[['game_name', 'hours_played_if_play']]
df_highest_time_played

                                       game_name  hours_played_if_play
0                                  7 Days to Die                 336.0
1                                        8BitBoy                  24.0
2                          A Valley Without Wind                   1.2
3                        A Valley Without Wind 2                   0.1
4    ACE COMBAT ASSAULT HORIZON Enhanced Edition                   7.7
..                                           ...                   ...
838                          Zombie Panic Source                   0.5
839                                        eden*                   4.3
840                 realMyst Masterpiece Edition                   7.5
841                resident evil 4 / biohazard 4                   3.8
842                                    theHunter                   0.6

[843 rows x 2 columns]

### 8.2. Ranking the Games by Highest Maximum Game Play Time

Sort your final resulting dataframe from 8.1 by the number of hours that the game was played by the all-star player *in descending order*.

Overwrite your dataframe, so it remains sorted in this order.

In [66]:
df_highest_time_played.sort_values("hours_played_if_play", ascending=False, inplace=True)
df_highest_time_played

C:\Users\samma\AppData\Local\Temp\ipykernel_33012\3539495552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_highest_time_played.sort_values("hours_played_if_play", ascending=False, inplace=True)

                              game_name  hours_played_if_play
225                              Dota 2                5608.0
616          Sid Meier's Civilization V                5002.0
60    Baldur's Gate II Enhanced Edition                3898.0
59       Baldur's Gate Enhanced Edition                2630.0
151                      Counter-Strike                2526.0
..                                  ...                   ...
173                  DOOM 3 BFG Edition                   0.1
378                Indie Game The Movie                   0.1
377  I Have No Mouth, and I Must Scream                   0.1
3               A Valley Without Wind 2                   0.1
623                            SkyDrift                   0.1

[843 rows x 2 columns]

### 8.3. Top 3 Games with the Most Dedicated "All-Star Player"

Which three games in this dataset had the most "dedicated" "all star players"? Or in other words, which three games were played the longest amount of time by a particular player?

In [67]:
df_highest_time_played.head(3)

                             game_name  hours_played_if_play
225                             Dota 2                5608.0
616         Sid Meier's Civilization V                5002.0
60   Baldur's Gate II Enhanced Edition                3898.0

### 8.4. Identifying these "All Star Players"

For these three games that you selected in 8.3 above, what is the user id of their respective "all star player"?

In [70]:
user_dota = df_play[(df_play.game_name == "Dota 2") & (df_play.hours_played_if_play == 5608.0)]
user_dota['user_id']

1150    67694595
Name: user_id, dtype: int64

In [71]:
user_sid = df_play[(df_play.game_name == "Sid Meier's Civilization V") & (df_play.hours_played_if_play == 5002.0)]
user_sid['user_id']

5972    128065805
Name: user_id, dtype: int64

In [72]:
user_baldur = df_play[(df_play.game_name == "Baldur's Gate II Enhanced Edition") & (df_play.hours_played_if_play == 3898.0)]
user_baldur['user_id']

3461    52731290
Name: user_id, dtype: int64

## 9. Learning about the All-Star Players

Finally, let's learn more about the play vs. purchase behavior of these three "all star" players that we identified in #8. Specifically for each of these three player user ids that you identified in #8, what percentage of games that they bought did they actually play?

In [75]:
percentage_dota_player = ((len(df_play[df_play.user_id == 67694595])) / (len(df_purchase[df_purchase.user_id == 67694595]))) * 100
percentage_dota_player

63.1578947368421

In [76]:
percentage_sid_player = ((len(df_play[df_play.user_id == 128065805])) / (len(df_purchase[df_purchase.user_id == 128065805]))) * 100
percentage_sid_player

100.0

In [81]:
percentage_baldur_player = ((len(df_play[df_play.user_id == 52731290])) / (len(df_purchase[df_purchase.user_id == 52731290]))) * 100
percentage_baldur_player

92.5925925925926